  .footer {
    height: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
@media screen and (max-width: 1050px) {
  
  .footer {
    padding-top: 3rem;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__copyrights {
  font-size: 1rem;
  text-align: center;
  color: #afb5c0;
}

.footer__social {
  display: flex;
}

.footer__social__item {
  padding: 1.5rem;
}

.footer__social__item__img {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: 50%;
  background-image: url("../images/media-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: box-shadow 0.5s;
  box-shadow: 0 1.25rem 1.25rem #ccc;
  cursor: pointer;
}


.footer__social__item__img:hover {
  box-shadow: 0 0 1.25rem #f53838;
}
