.header {
  margin: 50px 10% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header__button--hamburger{
  width: 30px;
  height: 48px;
  z-index: 5;

  vertical-align: top;
  display: none;
}

.menu__symbol__line{
  width: inherit;
  background-color: #4f5665;
  border-radius: 2px;
  height: 4px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transition: transform 1s;
}

.menu__symbol__line--up {
  top: -6px;
  transform-origin: 0% 0%;
}

.menu__symbol__line--bot {
  bottom: -6px;
  transform-origin: 0% 100%;
}

.menu__symbol__line--up.menu__symbol__line--open{
  transform: rotate(45deg);
}

.menu__symbol__line--mid.menu__symbol__line--open{
  transform: scaleY(0);
}
.menu__symbol__line--bot.menu__symbol__line--open{
  transform: rotate(-45deg);
}

.header__logo-and-button {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;

  flex-grow: 1;
}

.hamburger {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  transition: all 1s;
  z-index: 4;
}


.pages__item {
  padding: 0 20px;
  color: #4f5665;
  transition: color .5s;
}

.pages__item:hover  {
  color: #0b132a;
}

@media screen and (max-width: 1250px) {
  .header {
    margin-left:  0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    height: fit-content;
    flex-direction: column;
    align-items: stretch;
  }

  .header__button--hamburger{
    display: inline-block;
  }
  .pages__item {
    padding: 20px;
    display: block;
  }

  .hamburger {
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    flex-direction: column;
    align-items: stretch;
    background-color: #FFFD;
  }
}
.hamburger--clipped {
  top:0;
}

.sign {
  text-align: center;
}
